<!DOCTYPE html>
<html<%= content_for(:angular_app) %>>
  <head>
    <title>AnglifiedBootstrap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- For Community Page -->
    <!-- font awesome -->
    <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
        crossorigin="anonymous">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>

    <!-- Bstrp4 , MDBootstrap for community page-->
    <%= yield :community_cdns %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- For Templates Edit Page -->
    <!-- ___ for templates page -->
    <%= yield :templates_fonts %>

    <!-- Plugin JavaScript -->
    <script <%= content_for(:plugin_js) %>></script>

    <!-- <link rel="stylesheet" -->
    <!-- href="/<%= content_for(:template_css)%>/css/<%= content_for(:template_css)%>.min.css" type="text/css"> -->
    <link rel="stylesheet" href="/new-age/css/new-age.min.css" type="text/css">
  </head>

  <body <%= content_for(:body_id) %>>
    <p class="notice" ng-if="notice"><%= notice %></p>
    <p class="alert" ng-if="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
